
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <div> 
        @if(TempData["successMessage"] != null) {
            <div class="alert alert-success">@TempData["successMessage"]</div>
        } else if (TempData["cancelMessage"] != null) {
            <div class="alert alert-info">@TempData["cancelMessage"]</div>
        }
        @RenderBody()
    </div>
</body>
</html>
