
@{
    ViewBag.Title = "SportsStoreStore: Order submitted";
}

<h2>Thanks!</h2>
Thanks for placing your order. We'll ship your goods as soon as possible.

<div class="text-center">
    @Html.ActionLink("Continue Shopping", "List", "Product", null,
    new { @class = "btn btn-primary" })
</div>
